* {
    margin: 0;
    padding: 0;

}

/* body{
    background-image: url(pics/loginclassroom2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.header {
    background-color: rgb(255, 95, 21);
    height: 60px;
    padding-left: 40px;
    padding-top: 10px;
}

.dashboard {
    text-decoration: none;
}

.logout {
    float: right;
    padding-right: 10px;

}

ul {
    background-color: rgb(113, 121, 126);
    width: 15%;
    height: 100%;
    position: fixed;
    text-align: center;
    padding-top: 30px;
}

ul li {
    padding-top: 25px;
    list-style: none;
    font-size: 16px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

ul li a:hover {
    color: rgb(255, 95, 21);

}

.content {
    margin-top: 5%;
    margin-left: 20%;

}